<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tool.PlayersMapper">
  <resultMap id="BaseResultMap" type="tool.Players">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthSeason" jdbcType="INTEGER" property="birthseason" />
    <result column="VALUE" jdbcType="INTEGER" property="value" />
    <result column="SALARY" jdbcType="INTEGER" property="salary" />
    <result column="Nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="SPEED" jdbcType="INTEGER" property="speed" />
    <result column="STAMINA" jdbcType="INTEGER" property="stamina" />
    <result column="ITG" jdbcType="INTEGER" property="itg" />
    <result column="PASS" jdbcType="INTEGER" property="pass" />
    <result column="SHOOT" jdbcType="INTEGER" property="shoot" />
    <result column="HEAD" jdbcType="INTEGER" property="head" />
    <result column="KEEP" jdbcType="INTEGER" property="keep" />
    <result column="CONTROL" jdbcType="INTEGER" property="control" />
    <result column="TACKL" jdbcType="INTEGER" property="tackl" />
    <result column="A_PASS" jdbcType="INTEGER" property="aPass" />
    <result column="SET_PALYS" jdbcType="INTEGER" property="setPalys" />
    <result column="EXPERIENCE" jdbcType="INTEGER" property="experience" />
    <result column="jointeam" jdbcType="DATE" property="jointeam" />
    <result column="leaveteam" jdbcType="DATE" property="leaveteam" />
    <result column="had_cost" jdbcType="INTEGER" property="hadCost" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from players
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tool.Players">
    insert into players (id, Pid, name, 
      birthSeason, VALUE, SALARY, 
      Nationality, SPEED, STAMINA, 
      ITG, PASS, SHOOT, HEAD, 
      KEEP, CONTROL, TACKL, 
      A_PASS, SET_PALYS, EXPERIENCE, 
      jointeam, leaveteam, had_cost
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{birthseason,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{salary,jdbcType=INTEGER}, 
      #{nationality,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, #{stamina,jdbcType=INTEGER}, 
      #{itg,jdbcType=INTEGER}, #{pass,jdbcType=INTEGER}, #{shoot,jdbcType=INTEGER}, #{head,jdbcType=INTEGER}, 
      #{keep,jdbcType=INTEGER}, #{control,jdbcType=INTEGER}, #{tackl,jdbcType=INTEGER}, 
      #{aPass,jdbcType=INTEGER}, #{setPalys,jdbcType=INTEGER}, #{experience,jdbcType=INTEGER}, 
      #{jointeam,jdbcType=DATE}, #{leaveteam,jdbcType=DATE}, #{hadCost,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="tool.Players">
    update players
    set Pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      birthSeason = #{birthseason,jdbcType=INTEGER},
      VALUE = #{value,jdbcType=INTEGER},
      SALARY = #{salary,jdbcType=INTEGER},
      Nationality = #{nationality,jdbcType=VARCHAR},
      SPEED = #{speed,jdbcType=INTEGER},
      STAMINA = #{stamina,jdbcType=INTEGER},
      ITG = #{itg,jdbcType=INTEGER},
      PASS = #{pass,jdbcType=INTEGER},
      SHOOT = #{shoot,jdbcType=INTEGER},
      HEAD = #{head,jdbcType=INTEGER},
      KEEP = #{keep,jdbcType=INTEGER},
      CONTROL = #{control,jdbcType=INTEGER},
      TACKL = #{tackl,jdbcType=INTEGER},
      A_PASS = #{aPass,jdbcType=INTEGER},
      SET_PALYS = #{setPalys,jdbcType=INTEGER},
      EXPERIENCE = #{experience,jdbcType=INTEGER},
      jointeam = #{jointeam,jdbcType=DATE},
      leaveteam = #{leaveteam,jdbcType=DATE},
      had_cost = #{hadCost,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, SALARY, Nationality, SPEED, STAMINA, ITG, 
    PASS, SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, EXPERIENCE, jointeam, 
    leaveteam, had_cost
    from players
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, SALARY, Nationality, SPEED, STAMINA, ITG, 
    PASS, SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, EXPERIENCE, jointeam, 
    leaveteam, had_cost
    from players
  </select>
  <resultMap id="BaseResultMap" type="tool.Players">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthSeason" jdbcType="INTEGER" property="birthseason" />
    <result column="VALUE" jdbcType="INTEGER" property="value" />
    <result column="SALARY" jdbcType="INTEGER" property="salary" />
    <result column="Nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="SPEED" jdbcType="INTEGER" property="speed" />
    <result column="STAMINA" jdbcType="INTEGER" property="stamina" />
    <result column="ITG" jdbcType="INTEGER" property="itg" />
    <result column="PASS" jdbcType="INTEGER" property="pass" />
    <result column="SHOOT" jdbcType="INTEGER" property="shoot" />
    <result column="HEAD" jdbcType="INTEGER" property="head" />
    <result column="KEEP" jdbcType="INTEGER" property="keep" />
    <result column="CONTROL" jdbcType="INTEGER" property="control" />
    <result column="TACKL" jdbcType="INTEGER" property="tackl" />
    <result column="A_PASS" jdbcType="INTEGER" property="aPass" />
    <result column="SET_PALYS" jdbcType="INTEGER" property="setPalys" />
    <result column="EXPERIENCE" jdbcType="INTEGER" property="experience" />
    <result column="jointeam" jdbcType="DATE" property="jointeam" />
    <result column="leaveteam" jdbcType="DATE" property="leaveteam" />
    <result column="had_cost" jdbcType="INTEGER" property="hadCost" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from players
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tool.Players">
    insert into players (id, Pid, name, 
      birthSeason, VALUE, SALARY, 
      Nationality, SPEED, STAMINA, 
      ITG, PASS, SHOOT, HEAD, 
      KEEP, CONTROL, TACKL, 
      A_PASS, SET_PALYS, EXPERIENCE, 
      jointeam, leaveteam, had_cost
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{birthseason,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{salary,jdbcType=INTEGER}, 
      #{nationality,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, #{stamina,jdbcType=INTEGER}, 
      #{itg,jdbcType=INTEGER}, #{pass,jdbcType=INTEGER}, #{shoot,jdbcType=INTEGER}, #{head,jdbcType=INTEGER}, 
      #{keep,jdbcType=INTEGER}, #{control,jdbcType=INTEGER}, #{tackl,jdbcType=INTEGER}, 
      #{aPass,jdbcType=INTEGER}, #{setPalys,jdbcType=INTEGER}, #{experience,jdbcType=INTEGER}, 
      #{jointeam,jdbcType=DATE}, #{leaveteam,jdbcType=DATE}, #{hadCost,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="tool.Players">
    update players
    set Pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      birthSeason = #{birthseason,jdbcType=INTEGER},
      VALUE = #{value,jdbcType=INTEGER},
      SALARY = #{salary,jdbcType=INTEGER},
      Nationality = #{nationality,jdbcType=VARCHAR},
      SPEED = #{speed,jdbcType=INTEGER},
      STAMINA = #{stamina,jdbcType=INTEGER},
      ITG = #{itg,jdbcType=INTEGER},
      PASS = #{pass,jdbcType=INTEGER},
      SHOOT = #{shoot,jdbcType=INTEGER},
      HEAD = #{head,jdbcType=INTEGER},
      KEEP = #{keep,jdbcType=INTEGER},
      CONTROL = #{control,jdbcType=INTEGER},
      TACKL = #{tackl,jdbcType=INTEGER},
      A_PASS = #{aPass,jdbcType=INTEGER},
      SET_PALYS = #{setPalys,jdbcType=INTEGER},
      EXPERIENCE = #{experience,jdbcType=INTEGER},
      jointeam = #{jointeam,jdbcType=DATE},
      leaveteam = #{leaveteam,jdbcType=DATE},
      had_cost = #{hadCost,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, SALARY, Nationality, SPEED, STAMINA, ITG, 
    PASS, SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, EXPERIENCE, jointeam, 
    leaveteam, had_cost
    from players
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, SALARY, Nationality, SPEED, STAMINA, ITG, 
    PASS, SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, EXPERIENCE, jointeam, 
    leaveteam, had_cost
    from players
  </select>
</mapper>