<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tool.YouthMapper">
  <resultMap id="BaseResultMap" type="tool.Youth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthSeason" jdbcType="INTEGER" property="birthseason" />
    <result column="VALUE" jdbcType="INTEGER" property="value" />
    <result column="Nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="SPEED" jdbcType="INTEGER" property="speed" />
    <result column="STAMINA" jdbcType="INTEGER" property="stamina" />
    <result column="ITG" jdbcType="INTEGER" property="itg" />
    <result column="PASS" jdbcType="INTEGER" property="pass" />
    <result column="SHOOT" jdbcType="INTEGER" property="shoot" />
    <result column="HEAD" jdbcType="INTEGER" property="head" />
    <result column="KEEP" jdbcType="INTEGER" property="keep" />
    <result column="CONTROL" jdbcType="INTEGER" property="control" />
    <result column="TACKL" jdbcType="INTEGER" property="tackl" />
    <result column="A_PASS" jdbcType="INTEGER" property="aPass" />
    <result column="SET_PALYS" jdbcType="INTEGER" property="setPalys" />
    <result column="jointeam" jdbcType="DATE" property="jointeam" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="potential" jdbcType="VARCHAR" property="potential" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from youth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tool.Youth">
    insert into youth (id, Pid, name, 
      birthSeason, VALUE, Nationality, 
      SPEED, STAMINA, ITG, 
      PASS, SHOOT, HEAD, 
      KEEP, CONTROL, TACKL, 
      A_PASS, SET_PALYS, jointeam, 
      state, potential)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{birthseason,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{nationality,jdbcType=VARCHAR}, 
      #{speed,jdbcType=INTEGER}, #{stamina,jdbcType=INTEGER}, #{itg,jdbcType=INTEGER}, 
      #{pass,jdbcType=INTEGER}, #{shoot,jdbcType=INTEGER}, #{head,jdbcType=INTEGER}, 
      #{keep,jdbcType=INTEGER}, #{control,jdbcType=INTEGER}, #{tackl,jdbcType=INTEGER}, 
      #{aPass,jdbcType=INTEGER}, #{setPalys,jdbcType=INTEGER}, #{jointeam,jdbcType=DATE}, 
      #{state,jdbcType=VARCHAR}, #{potential,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="tool.Youth">
    update youth
    set Pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      birthSeason = #{birthseason,jdbcType=INTEGER},
      VALUE = #{value,jdbcType=INTEGER},
      Nationality = #{nationality,jdbcType=VARCHAR},
      SPEED = #{speed,jdbcType=INTEGER},
      STAMINA = #{stamina,jdbcType=INTEGER},
      ITG = #{itg,jdbcType=INTEGER},
      PASS = #{pass,jdbcType=INTEGER},
      SHOOT = #{shoot,jdbcType=INTEGER},
      HEAD = #{head,jdbcType=INTEGER},
      KEEP = #{keep,jdbcType=INTEGER},
      CONTROL = #{control,jdbcType=INTEGER},
      TACKL = #{tackl,jdbcType=INTEGER},
      A_PASS = #{aPass,jdbcType=INTEGER},
      SET_PALYS = #{setPalys,jdbcType=INTEGER},
      jointeam = #{jointeam,jdbcType=DATE},
      state = #{state,jdbcType=VARCHAR},
      potential = #{potential,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, Nationality, SPEED, STAMINA, ITG, PASS, 
    SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, jointeam, state, potential
    from youth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, Nationality, SPEED, STAMINA, ITG, PASS, 
    SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, jointeam, state, potential
    from youth
  </select>
  <resultMap id="BaseResultMap" type="tool.Youth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthSeason" jdbcType="INTEGER" property="birthseason" />
    <result column="VALUE" jdbcType="INTEGER" property="value" />
    <result column="Nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="SPEED" jdbcType="INTEGER" property="speed" />
    <result column="STAMINA" jdbcType="INTEGER" property="stamina" />
    <result column="ITG" jdbcType="INTEGER" property="itg" />
    <result column="PASS" jdbcType="INTEGER" property="pass" />
    <result column="SHOOT" jdbcType="INTEGER" property="shoot" />
    <result column="HEAD" jdbcType="INTEGER" property="head" />
    <result column="KEEP" jdbcType="INTEGER" property="keep" />
    <result column="CONTROL" jdbcType="INTEGER" property="control" />
    <result column="TACKL" jdbcType="INTEGER" property="tackl" />
    <result column="A_PASS" jdbcType="INTEGER" property="aPass" />
    <result column="SET_PALYS" jdbcType="INTEGER" property="setPalys" />
    <result column="jointeam" jdbcType="DATE" property="jointeam" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="potential" jdbcType="VARCHAR" property="potential" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from youth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tool.Youth">
    insert into youth (id, Pid, name, 
      birthSeason, VALUE, Nationality, 
      SPEED, STAMINA, ITG, 
      PASS, SHOOT, HEAD, 
      KEEP, CONTROL, TACKL, 
      A_PASS, SET_PALYS, jointeam, 
      state, potential)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{birthseason,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{nationality,jdbcType=VARCHAR}, 
      #{speed,jdbcType=INTEGER}, #{stamina,jdbcType=INTEGER}, #{itg,jdbcType=INTEGER}, 
      #{pass,jdbcType=INTEGER}, #{shoot,jdbcType=INTEGER}, #{head,jdbcType=INTEGER}, 
      #{keep,jdbcType=INTEGER}, #{control,jdbcType=INTEGER}, #{tackl,jdbcType=INTEGER}, 
      #{aPass,jdbcType=INTEGER}, #{setPalys,jdbcType=INTEGER}, #{jointeam,jdbcType=DATE}, 
      #{state,jdbcType=VARCHAR}, #{potential,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="tool.Youth">
    update youth
    set Pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      birthSeason = #{birthseason,jdbcType=INTEGER},
      VALUE = #{value,jdbcType=INTEGER},
      Nationality = #{nationality,jdbcType=VARCHAR},
      SPEED = #{speed,jdbcType=INTEGER},
      STAMINA = #{stamina,jdbcType=INTEGER},
      ITG = #{itg,jdbcType=INTEGER},
      PASS = #{pass,jdbcType=INTEGER},
      SHOOT = #{shoot,jdbcType=INTEGER},
      HEAD = #{head,jdbcType=INTEGER},
      KEEP = #{keep,jdbcType=INTEGER},
      CONTROL = #{control,jdbcType=INTEGER},
      TACKL = #{tackl,jdbcType=INTEGER},
      A_PASS = #{aPass,jdbcType=INTEGER},
      SET_PALYS = #{setPalys,jdbcType=INTEGER},
      jointeam = #{jointeam,jdbcType=DATE},
      state = #{state,jdbcType=VARCHAR},
      potential = #{potential,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, Nationality, SPEED, STAMINA, ITG, PASS, 
    SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, jointeam, state, potential
    from youth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Pid, name, birthSeason, VALUE, Nationality, SPEED, STAMINA, ITG, PASS, 
    SHOOT, HEAD, KEEP, CONTROL, TACKL, A_PASS, SET_PALYS, jointeam, state, potential
    from youth
  </select>
</mapper>